---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import UserSettingsLoad from "../components/UserSettingsLoad.astro";
import ConvertkitForm from "../components/ConvertkitForm.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_PERMALINK } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      permalink={SITE_PERMALINK}
    />
    <style>
      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }
      .content :global(main > * + *) {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <UserSettingsLoad />
    <ConvertkitForm />
    <Header title={SITE_TITLE} />
    <main class="wrapper main home">
      <figure>
        <figcaption>
          <h1 class="end">
            <span class="nowrap">Татьяна Иванова</span>
            <span class="nowrap">&#8212; Психолог!</span>
          </h1>
        </figcaption>
        <img src="/undraw_powerful_re_frhr.svg" alt="Powerful Girl" />
      </figure>
    </main>
    <Footer />
  </body>
</html>
