---
const today = new Date();
---

<footer class="wrapper flex footer">
  <p>
    &copy; {today.getFullYear()} Tatiana. All rights reserved.
  </p>
</footer>
<style>
  footer {
    padding: 1rem;
  }
</style>
